*{
    margin: 0;
    padding: 0;
}

body {
    background: #E6E6E6;
    font-size: 1em;
    font-family: "Trebuchet MS", "Helvetica", sans-serif;
}

#area-cabecalho {
    background: blue;
    padding: 10px;
    text-align: center;
}

#menu, #logo {
    padding: 10px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    float: left;
    background: blue;
}
ul li{
    float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2em;
}
a{
    text-decoration: none;
}

a:link, a:visited {
    color: #2E64FE;
}

a:hover {
    text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
    color: #FFF;
    padding: 8px 12px;
}

#area-cabecalho a:hover {
    color:blue;
    background: #FFF;
    text-decoration: none;
}

h1 {
    color: #4e4e4e;
    font-size: 2.5em;
}

h2{
    color: blue;

}

h3{
    color: blue;
    background: gray;
    padding: 5px;

}

.branco {
    color: white;
}

#area-principal{
    padding: 15px;
    background: #E6E6E6;
    width: 920px;
    margin: 0 auto;
}

.data-postagem{
    font-size: 0.8em;
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;

}

/*#area-postagem, #area-lateral{
    background: #2E64FE;
}*/

#area-postagem{
    width: 660px;
    float: left;
}
.postagem{
    padding: 20px;
    margin-bottom: 20px;
    background: white;

}

#area-lateral{
    width: 240px;
    float: right;
}

.conteudo-lateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;

}

.texto-lateral{
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted #E6E6E6;

}
#rodape{
    clear: both;
    text-align: center;
    padding: 15px;
    background: gray;
}